header {
    color: white;
    background-color: rgb(228, 149, 149);
    font-size: 3em;
    padding: 12px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px; 
    padding: 10px;
    justify-content: center;
}

.card {
    padding: 10px;
    margin: 15px;
    justify-content: center;
}

.card-header {
    color: white;
    background-color: violet

}

.list-group {
    color: black;
}

.list-group-item {
    white-space: nowrap;
    overflow: visible;
}

#email {
    color: black;
}